* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 30%;
    min-width: 340px;
    height: 400px;
    backdrop-filter: blur(7px); /* desenfoca el contenedor*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    border-radius: 20px;
    border: 2px solid rgb(250, 248, 248);
    box-shadow: 0 0 7px 4px rgba(176, 152, 152, 0.6);
}
.container-login {
    width: 90%;
    height: 70%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(249, 250, 248);
    border: none;
}
legend {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 230, 198);
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    position: relative;
}
input:focus {
    border: 2px solid rgb(131, 3, 251);
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
}
input[type="checkbox"] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 2px solid #19191a;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    left: -30px;
    
}
input[type="checkbox"]:checked {
  background-color: #fb08e7;
  background-image: url(icons/check-lg.svg);
  background-position: center;
  background-size: cover;
}
.recordar {
    margin-left: 30px;
    margin-top: 15px;
    position: relative;
    right: 10px;
}
.link {
    color: rgb(219, 227, 235);
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    bottom: 120px;
    right: 10px;
    margin: 10px;
}
.link:hover {
    text-decoration: underline;
    color: rgb(25, 25, 216);
}
label {
    margin-bottom: 5px;
    font-size: 1.1rem;
    margin-right: 5px;
    font-weight: bold;
    margin-right: 0;
    position: relative;
}
i {
    position: absolute;
    color: #da1212;
    right: 10px;
    top: 30px;
}
button {
    background-color: rgb(24, 24, 145);
    width: 50%;
    height: 40px;
    border: none;
    color: aliceblue;
    border-radius: 20px;
    font-size: 1.3rem;
}
button:hover {
    background-color: rgb(3, 3, 130);
}
p {
    padding: 10px;
    color: rgb(199, 208, 217);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.registrar {
    color: rgb(250, 249, 249);
    font-size: 1.1rem;
    position: relative;
    top: 1px;
    left: 1px;
}
